#collaborate {
    position: relative;
    padding: 2em;
    margin: 0 auto;
    max-width: 1000px;
    top: 4em;
    @include flexSb(row);
    color: #000;
    background: #fbaa33;
    border-radius: 10px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    z-index: 10;
    
    p {
        flex-basis: 85%;
        font-size: 1.3em;
        line-height: 1.6;
        letter-spacing: 0.4px;
    }
    a {
        padding: 0.6em;
        text-decoration: none;
        color: #000;
        border-radius: 10px;
        box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
        background: #ffeed4;
        flex-basis: 15%;
        font-size: 1.3em;
        transition: background 0.5s ease;
        &:hover {
            background: #fff;
        }
    }
}